<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forgot Password</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/Login-Form-Basic-icons.css">
  </head>
  <body style="background: url(&quot;/assets/img/login.jpg&quot;) center / auto no-repeat;">
    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Forgot Password</h2>
                </div>
            </div>
			<div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    
                        <div class="card-body d-flex flex-column align-items-center">
                            
                            <form class="text-center" method="post" (submit)="FSubmit(Forgetpasswordform)" #Forgetpasswordform="ngForm">
			                    <div>
                                <div class="mb-3"><input class="form-control" type="email" name="email" ngModel #emailInput="ngModel" placeholder="Email" required=""><p class="login-error" *ngIf="!emailInput.valid && emailInput.touched">Please enter valid email</p></div>
                                <div class="mb-3"><input class="form-control" type="new password" name="new password" [(ngModel)]="newpass" ngModel #passwordInput="ngModel" placeholder="New Password" required=""><p class="login-error" *ngIf="!passwordInput.valid && passwordInput.touched">Please enter valid new password</p></div>
								<div class="mb-3"><input class="form-control" type="confirm password" name="confirm password" [(ngModel)]="cnfpass" ngModel #cnfpasswordInput="ngModel" placeholder="Confirm Password" required=""><p class="login-error" *ngIf="cnfpasswordInput.touched && !(isSame())">Please check the entered password</p></div>
                                <div class="mb-3"><button  class="btn btn-primary d-block w-100" type="submit">Submit</button></div>
                                </div>
							</form>
                        </div>
                    </div>
                </div>
            </div>

    </section>
	
  </body>
</html>
	